<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body id="page-top hotel-user">
    <section id="page-header">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <div id="page-header-box">
              <div class="col-xxl-10 col-xl-10 col-md-10 col-xs-10 col-10">
                <h1>Dashboard</h1>
              </div>
              <div class="col-xxl-2 col-xl-2 col-md-2 col-xs-2 col-2">
                <div class="dropdown">
                  <a href="" class="float-right" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle fa-2x text-dark" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="all-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-3 col-xl-3 col-md-3">
            <button id="btn-mobile-sidebar">Menu Dashboard</button>
            <section id="sidebar">
              <div class="sidebar-list">
                <h4 class="text-primary">Main</h4>
                <ul class="sidebar-item">
                  <li class="sidebar-link">
                    <a href="">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <hr />
                  </li>
                </ul>
              </div>
              <div class="sidebar-list">
                <h4 class="text-primary">Pemesanan</h4>
                <ul class="sidebar-item">
                  <li class="sidebar-link">
                    <a href="hotel-user.html">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                      Kamar Hotel
                    </a>
                  </li>
                  <li class="sidebar-link">
                    <a href="">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                      Mobil
                    </a>
                  </li>
                  <li class="sidebar-link">
                    <a href="">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                      Pesawat
                    </a>
                  </li>
                  <li class="sidebar-link">
                    <a href="">
                      <i class="fa fa-tachometer" aria-hidden="true"></i>
                      Kapal
                    </a>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <div class="col-xxl-9 col-xl-9 col-md-9">
            <section id="main-content">
              <div class="row justify-content-center card-container">
                <!-- card -->
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 mb-3">
                  <div class="card card-list-container-user p-2">
                    <a href="detail-hotel-user.html" class="text-decoration-none text-dark">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img
                            src="https://s-light.tiket.photos/t/01E25EBZS3W0FY9GTG6C42E1SE/t_htl-dskt/tix-hotel/images-web/2020/10/31/baec2db0-8ebd-4196-8212-ccf5bc41a83b-1604138367062-94789cf56239c5787e80fd76f0a627cd.jpg"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Stark Boutique Hotel and Spa Bali</h5>
                            <p class="card-text">
                              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i
                              ><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-circle mx-2" style="font-size: 6px" aria-hidden="true"></i> Depasar
                            </p>
                            <p class="card-text">
                              <i class="fa fa-wifi mx-2" aria-hidden="true"></i> <i class="fa fa-bed mx-2" aria-hidden="true"></i> <i class="fa fa-bath mx-2" aria-hidden="true"></i> <i class="fa fa-medkit mx-2" aria-hidden="true"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 mb-3">
                  <div class="card card-list-container-user p-2">
                    <a href="detail-hotel-user.html" class="text-decoration-none text-dark">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img
                            src="https://s-light.tiket.photos/t/01E25EBZS3W0FY9GTG6C42E1SE/t_htl-dskt/tix-hotel/images-web/2020/10/31/baec2db0-8ebd-4196-8212-ccf5bc41a83b-1604138367062-94789cf56239c5787e80fd76f0a627cd.jpg"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Stark Boutique Hotel and Spa Bali</h5>
                            <p class="card-text">
                              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i
                              ><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-circle mx-2" style="font-size: 6px" aria-hidden="true"></i> Depasar
                            </p>
                            <p class="card-text">
                              <i class="fa fa-wifi mx-2" aria-hidden="true"></i> <i class="fa fa-bed mx-2" aria-hidden="true"></i> <i class="fa fa-bath mx-2" aria-hidden="true"></i> <i class="fa fa-medkit mx-2" aria-hidden="true"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 mb-3">
                  <div class="card card-list-container-user p-2">
                    <a href="detail-hotel-user.html" class="text-decoration-none text-dark">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img
                            src="https://s-light.tiket.photos/t/01E25EBZS3W0FY9GTG6C42E1SE/t_htl-dskt/tix-hotel/images-web/2020/10/31/baec2db0-8ebd-4196-8212-ccf5bc41a83b-1604138367062-94789cf56239c5787e80fd76f0a627cd.jpg"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Stark Boutique Hotel and Spa Bali</h5>
                            <p class="card-text">
                              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i
                              ><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-circle mx-2" style="font-size: 6px" aria-hidden="true"></i> Depasar
                            </p>
                            <p class="card-text">
                              <i class="fa fa-wifi mx-2" aria-hidden="true"></i> <i class="fa fa-bed mx-2" aria-hidden="true"></i> <i class="fa fa-bath mx-2" aria-hidden="true"></i> <i class="fa fa-medkit mx-2" aria-hidden="true"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 mb-3">
                  <div class="card card-list-container-user p-2">
                    <a href="detail-hotel-user.html" class="text-decoration-none text-dark">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img
                            src="https://s-light.tiket.photos/t/01E25EBZS3W0FY9GTG6C42E1SE/t_htl-dskt/tix-hotel/images-web/2020/10/31/baec2db0-8ebd-4196-8212-ccf5bc41a83b-1604138367062-94789cf56239c5787e80fd76f0a627cd.jpg"
                            alt=""
                            class="img-fluid"
                          />
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Stark Boutique Hotel and Spa Bali</h5>
                            <p class="card-text">
                              <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i
                              ><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-circle mx-2" style="font-size: 6px" aria-hidden="true"></i> Depasar
                            </p>
                            <p class="card-text">
                              <i class="fa fa-wifi mx-2" aria-hidden="true"></i> <i class="fa fa-bed mx-2" aria-hidden="true"></i> <i class="fa fa-bath mx-2" aria-hidden="true"></i> <i class="fa fa-medkit mx-2" aria-hidden="true"></i>
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>

    <script>
      $("#btn-mobile-sidebar").on("click", function (e) {
        $("#sidebar").toggle();
      });
    </script>
  </body>
</html>
